@import "./variables.scss";

.settingbar {
    height: $toolbar-height;
    background-color: $white;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: $toolbar-height;
    border-bottom:  1px solid $gray-300;

    .item {
        margin: 10px;
    }
}